/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 60vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://png.pngtree.com/background/20230612/original/pngtree-some-beautiful-roses-bursting-with-color-picture-image_3173999.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('https://png.pngtree.com/background/20230610/original/pngtree-various-colored-roses-are-sitting-on-top-of-a-brown-background-picture-image_3102685.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240204/pngtree-colorful-flower-background-valentines-or-wedding-image_15601589.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
  margin-right: 10px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}





